<div class="header">
  <div class="content">
    <div class="headline">
      <h1 class="lime">
        The Boston Challenge
      </h1>
      <div class="info">10 days left</div>
    </div>
    <div class="navi">
      <%= link_to 'Home', root_path %>
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      <% end %>
    </div>
  </div>
</div>

<div class="challenge-list">
  <% @challenges.each do |challenge| %>
    <div class="challenge">
      <a id="<%= challenge.id %>-toggle" class="date toggle-link">
        <%= challenge.date.to_s(:day_and_month) %>
        <span class="title"><%= challenge.title %></span>
      </a>
      <div id="<%= challenge.id %>-toggle-content" class="content" style="display: none;">

        <div class="description">
          # <%= challenge.text %>
        </div>

        <% if challenge.answerPic.present? %>
          <%= image_tag challenge.answerPic, class: 'answer_pic' %>
        <% end %>

        <% if  policy( challenge ).update? %>
          <%= form_for challenge, url: frontend_challenge_path( challenge ) do |f| %>
            <div>
              <%= f.text_area :answerText, placeholder: 'How did you solve the challenge?'%>
            </div>
            <div>
              <a id="<%= challenge.id %>-upload" class="button uploader-link">Add pic</a>
              <%= f.file_field :answerPic, class:'hidden', id:challenge.id.to_s+'-upload-form' %>
            </div>
            <%= f.submit "Solve!", class: 'button' %>
          <% end %>
        <% end %>

      </div>
    </div>
  <% end %>
</div>
