<div class="challenge-list">
  <% @challenges.each do |challenge| %>
    <div class="challenge">
      <a id="<%= challenge.id %>-toggle" class="date toggle-link <%= challenge.approved ? "entypo-check" : "" %>">
        <%= challenge.date.to_s(:day_and_month) %>
        <span class="title"><%= challenge.title %></span>
      </a>
      <div id="<%= challenge.id %>-toggle-content" class="content" style="display: none;">
        <div class="description">
          # <%= challenge.text %><br/>
        </div>
        <% if challenge.answerPic.present? %>
          <%= image_tag challenge.answerPic, class: 'answer_pic' %>
        <% end %>

        <% if challenge.answerText.present? %>
          <p><%= challenge.answerText %></p>
        <% end %>

        <%= link_to 'Show', admin_challenge_path(challenge), class: 'button' %>
        <%= link_to 'Edit', edit_admin_challenge_path(challenge), class: 'button' %>
        <%= link_to 'Destroy', admin_challenge_path(challenge), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
      </div>
    </div>
  <% end %>
</div>
