<div class="header">
  <div class="content">
    <div class="headline">
      <h1 class="lime">
        <%= @challenge.date.to_date %>
      </h1>
    </div>
    <div class="subline">
      <%= @challenge.title %>
    </div>
  </div>
</div>

<div class="content">
  <div class="challenge">
    <p>
      # <%= @challenge.text %>
    </p>

    <% if @challenge.answerPic.present? %>
      <%= image_tag @challenge.answerPic, class: 'answer_pic' %>
    <% end %>

    <% if @challenge.answerText.present? %>
      <p>
        <%= @challenge.answerText %>
      </p>
    <% end %>

    <p>
      <strong>Comments:</strong>
      <%= @challenge.comments %>
    </p>
    <p>
      <strong>Enabled:</strong>
      <%= @challenge.enabled %>
    </p>

    <p>
      <strong>Approved:</strong>
      <%= @challenge.approved %>
    </p>
    <%= link_to 'Edit', edit_admin_challenge_path(@challenge), class: 'button' %>
    <%= link_to 'Destroy', admin_challenge_path(@challenge), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>

  </div>
</div>



