<%= form_for challenge, url: challenge_path( challenge ) do |f| %>
  <div>
    <%= f.text_area :answerText, placeholder: 'How did you solve the challenge?'%>
  </div>

  <div>
    <a id="<%= challenge.id %>-upload" class="button uploader-link">Add pic</a>
    <%= f.file_field :answerPic, class:'hidden', id:challenge.id.to_s+'-upload-form' %>
  </div>
  <%= f.submit "Solve!", class: 'button' %>
<% end %>
