<div class="header">
  <div class="content">
    <div class="headline">
      <h1 class="lime">
        <%= @challenge.date.to_date %>
      </h1>
      <div class="info">
        <%= link_to 'Show', challenge_path(@challenge), class: 'button' %>
      </div>
    </div>
    <div class="subline">
      <%= @challenge.title %>
    </div>
    <div class="navi">
      <%= link_to 'Home', root_path %>
    </div>
  </div>
</div>
<div class="content">
  <p>
    <%= render 'form' %>
  </p>
</div>
