<div class="header">
  <div class="content">
    <div class="headline">
      <h1 class="lime">
        All Challenges
      </h1>
      <div class="info">
        <%= link_to 'New', new_challenge_path, class: 'button' %>
      </div>
    </div>
    <div class="navi">
      <%= link_to 'Home', root_path %>
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      <% end %>
    </div>
  </div>
</div>

<div class="challenge-list">
  <% @challenges.each do |challenge| %>
    <div class="challenge">
      <a id="<%= challenge.id %>-toggle" class="date toggle-link">
        <%= challenge.date.to_s(:day_and_month) %>
        <span class="title"><%= challenge.title %></span>
      </a>
      <div id="<%= challenge.id %>-toggle-content" class="content" style="display: none;">
        <div class="description">
          # <%= challenge.text %><br/>
        </div>
        <%= link_to 'Show', challenge, class: 'button' %>
        <%= link_to 'Edit', edit_challenge_path(challenge), class: 'button' %>
        <%= link_to 'Destroy', challenge, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
      </div>
    </div>
  <% end %>
</div>
