<div class="challenge-list">
  <% @challenges.each do |challenge| %>
    <div class="challenge">
      <a id="<%= challenge.id %>-toggle" class="date toggle-link <%= challenge.approved ? "entypo-check" : "" %>">
        <%= challenge.date.to_s(:day_and_month) %>
        <span class="title"><%= challenge.title %></span>
      </a>
      <div id="<%= challenge.id %>-toggle-content" class="content" style="display: none;">

        <div class="description">
          # <%= challenge.text %>
        </div>

        <% if challenge.approved? %>
          <p>
            <%= link_to 'Show', challenge_path(challenge), class: 'button' %>
          </p>
        <% elsif policy(challenge).update? %>
          <%= render partial: "update_challenge", locals: { challenge: challenge } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
