<div class="header">
  <div class="content">
    <div class="headline">
      <h1 class="lime">
        <%= @challenge.date.to_s(:day_and_month) %>
      </h1>
    </div>
    <div class="navi">
      <%= link_to 'Home', root_path %>
    </div>
  </div>
</div>

<div class="content">
  <div class="challenge">
    <p>
      <%= @challenge.title %>
    </p>
    <p>
      # <%= @challenge.text %>
    </p>

    <% if @challenge.answerPic.present? %>
      <%= image_tag @challenge.answerPic, class: 'answer_pic' %>
    <% end %>

    <% if @challenge.answerText.present? %>
      <p>
        <%= @challenge.answerText %>
      </p>
    <% end %>
  </div>
  <a href="http://m.facebook.com/sharer.php?u=<%= challenge_url(@challenge) %>" class="button">Share</a>
</div>



