<div class="header">
  <div class="content">
    <div class="headline">
      <h1 class="lime">
        <%= @challenge.date.to_date %>
      </h1>
      <div class="info">
        <%= link_to 'Edit', edit_challenge_path(@challenge), class: 'button' %>
      </div>
    </div>
    <div class="subline">
      <%= @challenge.title %>
    </div>
    <div class="navi">
      <%= link_to 'Home', root_path %>
    </div>
  </div>
</div>
<div class="content">
  <div class="challenge">
    <p>
      # <%= @challenge.text %>
    </p>

    <% if @challenge.answerPic.present? %>
      <%= image_tag @challenge.answerPic, class: 'answer_pic' %>
    <% end %>

    <% if @challenge.answerText.present? %>
      <p>
        <%= @challenge.answerText %>
      </p>
    <% end %>

    <p>
      <strong>Comments:</strong>
      <%= @challenge.comments %>
    </p>

    <p>
      <strong>Enabled:</strong>
      <%= @challenge.enabled %>
    </p>
  </div>
</div>



