<p id="notice"><%= notice %></p>

<div class="header">
  <div class="content">
    <div class="headline">
      <h1 class="lime">
        <%= @challenge.title %>
      </h1>
      <div class="info"><%= @challenge.date %></div>
    </div>
    <div class="subline">
        <%= @challenge.text %>
    </div>
    <div class="navi">
      <%= link_to 'Edit', edit_challenge_path(@challenge) %>
      <%= link_to 'Home', root_path %>
    </div>
  </div>
</div>
<div class="content">

  <p>
    <strong>Comments:</strong>
    <%= @challenge.comments %>
  </p>

  <p>
    <strong>Enabled:</strong>
    <%= @challenge.enabled %>
  </p>

  <p>
    <strong>Answerpic:</strong>
    <%= @challenge.answerPic %>
  </p>

  <p>
    <strong>Answertext:</strong>
    <%= @challenge.answerText %>
  </p>
</div>



