<div class="header">
  <div class="content">
    <div class="headline">
      <h1 class="lime">
        The Boston Challenge
      </h1>
      <%= link_to 'Login', new_user_session_path, class: :info unless user_signed_in? %>
      <% if user_signed_in? && current_user.admin? %>
        <div class="info">
          <%= link_to "New Challenge", new_admin_challenge_path %>
        </div>
      <% end %>
    </div>

    <div class="navi">
      <%= link_to 'The Challenges', root_path %>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to 'Manage Challenges', admin_challenges_path %>
        <% end %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      <% end %>
    </div>
  </div>
</div>
